.post {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 16px;
  max-width: 220px;
  padding: 16px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

.post:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.post:hover img {
  filter: brightness(80%) contrast(120%);
}


.post img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post h2 {
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post p {
  margin: 10px;
  font-size: 1rem;
  color: #888;
}
