.post {
  width: calc(25% - 16px);
  margin-bottom: 32px;
}
.post-img {
  max-width: 100%;
  height: 200px;
}
.post h2 {
  padding-bottom: 20px;
}

.post p  {
  padding-top: 10px;
}
.post-gender {
  margin-top: 10px;
}  
.post-gender span {
  color: rgb(212, 119, 6);
  font-weight: bolder;
}
.post-category {
  margin-top: 10px;
}  
.post-category span {
  color: rgb(5, 30, 169);
  font-weight: bolder;
}

@media (max-width: 1200px) {
  .post {
    width: calc(33.33% - 16px);
  }
}

@media (max-width: 992px) {
  .post {
    width: calc(50% - 16px);
  }
}

@media (max-width: 768px) {
  .post {
    /* display: flex; */
    /* align-items: center; */
    align-items: center;
    max-width: 650px;
    background: #ffffff;
    padding: 50px 30px 50px 20px;
    border-radius: 24px;

  }
}